.heading {
  margin: 30px 0;
  background-image: url("../../../../public/images/title_pattern.png");
  height: 35px;
  background-position: center;
}
.heading h6 {
  font-weight: 400;
  background: #fb4c35;
  color: #fff;
  height: 35px;
  width: 130px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
@media (max-width: 768px) {
  .heading {
    margin: 20px 0; /* Reduce margin for mobile */
    height: 25px; /* Reduce height to fit smaller screens */
    background-size: cover; /* Ensure background image covers the area well */
  }

  .heading h6 {
    font-size: 12px; /* Decrease font size for better readability on small screens */
    height: 25px; /* Reduce the height to fit the container */
    width: 100px; /* Make the box narrower */
  }
}